<div class="container">
  <h3 mat-dialog-title>Add New Column</h3>

  <form class="mat-dialog-content" (ngSubmit)="onSubmit()" #formControl="ngForm">
    <div>
	<mat-form-field >
        <input type="text" matInput name="name" placeholder="Name" [(ngModel)] = "kolon.name" required>
    </mat-form-field>
    </div> 
    <div>
    <mat-form-field>
        <input type="text" matInput name="tag" placeholder="Tag" [(ngModel)] = "kolon.tag" required>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
        <input type="text" matInput name="datatype" placeholder="Datatype" [(ngModel)] = "kolon.datatype" required>
    </mat-form-field>
    </div>
    <button type="submit" [disabled]="!formControl.valid" md-raised-button>Submit</button>
  </form>
</div>
